@media only screen and (min-width: 64rem) {

    header,
    main,
    nav,
    footer {
        max-width: 1000px;
        margin: 0 auto;
    }

    /**************** Header ***********************/

    header {
        grid-template-columns: 80px auto 1fr 50px;
    }

    .mode-toggle {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px var(--accent4-color);
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
        color: var(--white);
        width: auto;
        padding: 0.5rem 1rem;
    }

    .navigation a:hover {
        border-bottom: 2px solid white;
    }

    .navigation li.current a {
        font-weight: bold;
        border: none;
        border-bottom: solid 1px white;
    }

    /**************** Main ***********************/
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .hero img {
        grid-column: 1 / 4;
        grid-row: 1 / 4;
        z-index: 0;
    }

    .cta {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        z-index: 1;
    }

    .home-middle-layout {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 0.5rem;
        align-items: stretch;
    }

    #spotlight-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem;
        min-height: unset;
    }

    .current-weather-card {
        gap: 5px;
    }

    .current-weather p {
        font-size: 0.8rem;
    }

    #form-levels-container {
        grid-template-columns: 1.2fr 0.8fr;
        gap: 2.5rem;
        max-width: 1100px;
        align-items: start;
    }

    #allPlaces {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #allPlaces div {
        grid-template-areas:
            "name"
            "photograph"
            "button"
            "description"
            "address";
    }

    #allPlaces div figure {
        margin-top: 1rem;
    }

    /**************** Footer ***********************/

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

}