@media only screen and (min-width: 38rem) {

    #allPlaces div {
        display: grid;
        grid-template-areas:
            "photograph name"
            "photograph description"
            "photograph address"
            "photography button";
    }

    #allPlaces img {
        transition: scale 0.25s ease;
    }

    .hover:hover {
        scale: -1 1;
        border-radius: 50px;
    }

}