@media only screen and (min-width: 38rem) {

    #allPlaces div {
        display: grid;
        grid-template-areas:
            "photograph name"
            "photograph description"
            "photograph address"
            "photograph button";
    }

    #allPlaces div figure img {
        transition: transform 0.25s ease, border-radius 0.25s ease;
    }

    #allPlaces div figure img:hover {
        transform: scaleX(-1);
        border-radius: 50px;
    }

    #allPlaces div h2, #allPlaces div p {
        margin-bottom: 0;
    }

}