:root {
    /* palate from https: //coolors.co/palettes/trending - "serene blue" */
    --primary-color: #300f35;
    --accent-color: #8cb369;
    --accent1-color: #96cadc;
    --accent2-color: #11588e;
    --accent3-color: #f2cba0;
    --accent4-color: #ff8787;
    --background-color: #ffffee;
    --white: #ffffff;
    --black: #000000;
}

* {
    box-sizing: border-box;
    color: var(--primary-color);
}

p,
ul,
ol,
li {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Lora", serif;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

body {
    background-color: var(--background-color);
}

/******************** Header ******************/
header {
    display: grid;
    grid-template-columns: 160px 1fr 40px;
    padding: 5px 10px;
    border-bottom: solid 1px var(--accent3-color);
    column-gap: 8px;
    align-items: center;
    background-color: var(--accent4-color);
    color: var(--white);
    position: relative;
}

header img {
    display: block;
    width: 160px;
    height: auto;
    background-color: var(--accent4-color);
}

header span {
    font-family: "Lora", serif;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: var(--accent4-color);
    color: var(--primary-color);
    padding: 0.5rem 0;
}

/****************** Hamburger  *****************/
.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 1001;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    color: var(--primary-color);
}

.hamburger.show::before {
    content: "\00D7";
    color: var(--primary-color);
}

/*************** Navigation  ***********************/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--accent4-color);
    z-index: 1000;
    border-bottom: 3px solid var(--accent3-color);
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation a {
    display: block;
    padding: 1rem;
    width: 100%;
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--accent4-color);
}

.navigation a:hover {
    /* border-bottom: 2px solid var(--accent4-color); */
    background-color: var(--background-color);
}

.navigation li.current a {
    font-weight: bold;
}




.typography {
    text-align: center;
}

/****************** Main ***************************/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div {
    text-align: center;
}

main div p,
main div li {
    text-align: left;
}

/************* Index Page **************************/
.hero {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    border: 5px solid var(--accent-color);
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.main img {
    border: 3px solid var(--accent-color);
    border-radius: 8px;
    margin: 0 1rem 1rem 1rem;
    width: 300px;
    height: auto;
}

.main div,
.main h2,
.main form,
.main label {
    background-color: white;
}

.main div {
    border: 1px solid var(--accent3-color);
    border-radius: 8px;
    min-height: 100%;
    align-content: center;
}

.main a {
    text-decoration: none;
}

.card-link {
    display: block;
    /* Forces the link to behave like a structural box */
    text-decoration: none;
    color: inherit;
    /* Keeps your text color from turning link-blue */
}

/************* Form **********************************/
#form-levels-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--background-color);
}

form label {
    display: block;
    font-size: .8rem;
    color: var(--black);
    padding-top: .2rem;
    text-align: left;
}

form h2 {
    text-align: center;
    font-size: 1.2rem;
}

form input[type=text],
form input[type=email],
form select {
    display: block;
    width: 100%;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: #555;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: white;
}

form input:required {
    border-left-color: var(--accent4-color);
}

form input:focus {
    border-left-color: black;
    outline: none;
}

form input:required:valid {
    border-left-color: var(--accent-color);
}

form input[type=submit] {
    border: 1px solid var(--accent4-color);
    text-align: center;
    background-color: var(--accent4-color);
    color: var(--primary-color);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    box-shadow: 0px 0px 5px gray;
    cursor: pointer;
}

#results {
    background-color: var(--background-color);
    padding: 0 1rem;
    border: 1px solid var(--accent3-color);
    border-radius: 6px;
    margin: 1rem;
}

/****************** Search **************************/
#searchForm {
    width: 100%;
    max-width: 650px;
    margin: 2rem auto;
    margin-top: 0;
    padding: 0 1rem;
}

.search-wrapper {
    display: flex;
    width: 100%;
    border: 2px solid var(--accent4-color);
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: border-color 0.2s ease;
}

.search-wrapper:focus-within {
    border-color: var(--accent2-color);
    /* Highlights outline subtly when active */
}

#recipeSearch {
    border: none;
    padding: 0.75rem .75rem;
    width: 100%;
    font-size: 0.95rem;
    outline: none;
    background-color: var(--white);
}

#searchForm button {
    border: none;
    background: none;
    padding: 0 1.25rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: transform 0.1s ease;
}

#searchForm button:hover {
    transform: scale(1.1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#showHere {
    display: grid;
    grid-template-columns: 1fr;
    /* this is the solution to Lighthouse performance problems with the footer jumping, where a min-height also causes problems */
    content-visibility: auto;
    contain-intrinsic-size: auto 800px;
}

#showHere div {
    border: 1px solid var(--accent4-color);
    border-radius: 8px;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

#showHere img {
    display: block;
    width: 200px;
    height: 140px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

#showHere h2 {
    font-size: 1rem;
    margin: 0.5rem;
    text-align: center;
}

/****************** Planning ***********************/
#listHere {
    display: flex;
    flex-direction: column;
    /* min-height: 800px; */
    /* this gives the browser a minimum height to reduce layout shift when loading */
    content-visibility: auto;
    contain-intrinsic-size: auto 800px;
}

#listHere div {
    border-bottom: 1px solid var(--accent4-color);
    align-items: center;
    cursor: pointer;
    display: grid;
    grid-template-columns: 60px 1fr auto;
    margin: 0;
    padding: 0.5rem;
}

#listHere img {
    display: block;
    width: 50px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); */
}

#listHere h2 {
    font-size: 1rem;
    margin: 1rem;
    text-align: left;
}

#listHere div button {
    margin: 0;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    color: var(--accent2-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    width: fit-content;
}

#listHere ul {
    grid-column: 1 / 4;
}

/* #listHere div:nth-child(odd) {
    background-color: var(--accent3-color);
} */

/******************* Dialog Box *********************/
#mydialog {
    background-color: var(--white);
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    padding: 0;
    width: 90%;
    max-width: 550px;
    box-sizing: border-box;
}

#mydialog * {
    box-sizing: border-box;
    max-width: 100%;
}

#mydialog div {
    display: grid;
    grid-template-columns: 1fr 1fr 44px;
    /* grid-template-columns: 1fr auto; */
    gap: 1.5rem;
    padding: 1.25rem 1.5rem;
    border-bottom: var(--accent-color) 2px solid;
    background-color: var(--white);
    align-items: center;
}

#mydialog .dialog-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    margin-bottom: 0;
}

#mydialog .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    border: none;
    margin-bottom: 0;
}

#mydialog img {
    display: block;
    margin: 1rem auto;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid var(--accent1-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

#mydialog h2 {
    margin: 0;
    color: var(--accent2-color);
    background-color: var(--white);
    align-items: center;
    justify-items: start;
    font-size: 1.6rem;
    line-height: 1.2;
    grid-column: 1 / 3;
}

#mydialog button {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: var(--background-color);
    color: var(--accent2-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    padding: 10px;
}

#mydialog button:hover {
    background-color: var(--accent-color);
    color: white;
    transform: scale(1.05);
}


#mydialog ul,
#mydialog ol {
    padding-left: 1.4rem;
    background-color: var(--white);
    margin: 0 1.5rem 1.5rem 1.5rem;
    color: var(--primary-color);
}

#mydialog ul {
    margin-top: 1rem;
}

#mydialog li {
    background-color: var(--white);
    /* margin: 0.5rem 1rem 0 1rem; */
    margin-bottom: 0.6rem;
    line-height: 1.5;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

/****************** Footer **************************/
.whole-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer div {
    background-color: var(--accent1-color);
    padding: 1rem;
}

footer div p {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    text-align: left;
}

.footer-extras p,
.footer-extras a {
    text-align: right;
    align-items: start;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    text-decoration: none;
}

footer span {
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    background-color: var(--background-color);
    padding: 10px;
    margin-top: 1rem;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: var(--accent1-color) solid 1px;
    border-radius: 22px;
    background-color: var(--white);
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--accent3-color);
}

.footerdates {
    background-color: var(--accent1-color);
    color: var(--white);
    padding: 10px;
    width: 100%;
}