:root {
    /* palate from https: //coolors.co/palettes/trending - "serene blue" */
    --primary-color: #300f35;
    --accent-color: #8cb369;
    --accent1-color: #70adc2;
    --accent3-color: #f2cba0;
    --accent2-color: #11588e;
    --accent4-color: #ff8787;
    --background-color: #ffffee;
    --white: #ffffff;
    --black: #000000;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    color: var(--primary-color);
    background-color: var(--background-color);
}

h1,
h2,
h3 {
    font-family: "Lora", serif;
    text-align: center;
}

header img {
    width: 150px;
    height: auto;
}

header span {
    font-family: "Lora", serif;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--accent4-color);
    color: var(--black);
    padding: 2rem;
}

header {
    display: grid;
    grid-template-columns: 80px 1fr 30px 44px;
    /* padding: 5px 0 5px 10px; */
    padding: 5px 10px;
    border-bottom: solid 1px var(--accent4-color);
    column-gap: 8px;
    align-items: center;
    background-color: var(--accent4-color);
    color: var(--white);
}

header img {
    display: block;
    width: 80px;
    height: 65px;
    aspect-ratio: 80 / 65;
}

.typography {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div {
    text-align: center;
}

main div p,
main div li {
    text-align: left;
}

footer div {
    background-color: var(--accent1-color);
    padding: 1rem;
}

footer div p {
    background-color: var(--accent1-color);
    color: white;
    text-align: center;
}